<!-- --- -->
<!-- layout: default -->
<!-- title: About -->
<!-- permalink: /about/ -->
<!-- --- -->
<!-- template about.html -->

{% extends "default.html" %}
{% block content %}
<h1>About me</h1>
<div class="about-cell">
  <img src="{{ site.pathtoimages }}/about.jpeg" alt="image not supported" class="img-about-thumb">
  <div class="about-cell-labels">
    {% for item in about %}
    <p class="small"> {{ item.label }} &emsp; </p>
    {% endfor %}
  </div>
</div>
<div class="cellB-about">
  <p>
    With everything I do, I believe in transformation with respect for others and nature. I challenge myself and others
    to feel, think and look from different perspectives. I search and explore for fresh insights and foresights. I aim
    to inspire individuals and organisations towards a morally right transformation and empower them with techniques and
    tools to take into account individual and organisational rights, duties, interest and wishes in order to satisfy the
    needs of all involved others (Ekins &amp; Max-Neef, 1996; Governance and Integrity, 2008; Gerritsen, 2011).
    <br><br>
    In my company De Vakmakerij, my military profession and my voluntarily endeavors, I create tools and techniques to
    facilitate the design of beautiful and understandable services and (organisational) systems in the context of wicked
    problems within the public sector. The tools and techniques facilitate the translation of thoughts, ideas and
    concepts so users, providers, facilitators and producers become change, work on change and realise transformation
    (Hummels, Trotto, Lévy, Peeters, Alves Lino & Klooster, 2018).
    <br><br>
    You can put different labels on this work. I prefer to describe my professional live as a quest towards
    craftsmenship. Craftsmenship is all about the dedicated and engaged professional who masters tools and techniques
    for the sake of the work on its own (Sennet, 2008). At this moment I combine the qualities of a transformative
    leader, systemic designer and servant of justice within the setting of public sector organisations. I frame my
    intended craftmenship the 'Creative director'.
  </p>
</div>
<div class="cellB-about">
  <h1>Testimonials</h1>
  <div class="cellB-portfolio">
    {% for testimonial in testimonials %}
    <div class="testimonial-cell">
      <p class="testimonial">&ldquo;{{ testimonial.text }}&rdquo;</p>
      <p class="testimonial-small">{{ testimonial.client }}</p>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
