<!-- index.html -->
<!doctype html>
<html class="window-container-home">
{% include 'head.html' %}

<body class="container-home">

	<div>
		<h1 class="brand"> {{ site.title }} </h1>
	</div>
	<div>
		<p class="title">Mindshift</p>
		<p class="subtitle">Transforming perspectives as craftsmen</p>
	</div>
	<div>
		{% for item in navigation %}
		<a href="{{ site.url }}{{ item.link }}/index.html" class="menu">{{ item.name }}</a>
		{% endfor %}
	</div>
	<footer class="cellC-home">
		{% include 'footer.html' %}
	</footer>
</body>

</html>
