<!-- template techniques.html -->
{% extends "default.html" %}
{% block content %}
<div class="cellB-about">
  <h1 id="vision">Techniques</h1>
  <img src="{{ site.pathtoimages }}bureauPeter.jpg" alt="" class="img-centered" style="width:85%; ">
  <p>
    Finding the necessary workflow (or methodology) is a quest in itself. A combination of skills, knowledge and
    experience which can be achieved by persistent work, reflection in/on action and perseverance. A dedication found by
    athletes, artists and craftsmen, amongst others. A craftsmen sculps matter with tools in a particular flow. The
    choice for a specific tool, the operation of these instruments, the knowledge on the materials at hand, and the
    sequences through which the tools and materials melt together into a piece of art. For me, this describes the
    techniques and practice of a craft.
    <br><br>
    I believe complex environments and wicked problems can be understood through interactive plays with low-res tangible
    artefacts. Engaging professionals with physical activities and attribute actors and factors to artefacts give a
    whole other perspective on the environments and problems. Through my projects I have the opportunity to create and
    study different plays (or methods), some of these methodes I communicate and share through workshops.
  </p>
  <h2>Satis-action</h2>
  <p>
    The <a href="https://www.satis-action.nl">Satis-action method</a> creates a shared understanding on the systemic
    environment around a central actor. From this insight professionals can make joined efforts to an effective
    sollution and orchestrate the collaboration between organisations.
  </p>
  <h2>Others Eyes</h2>
  <p>
    The Others Eyes method creates an individual understanding on the setting of a specific problemcase. The individual
    professionals communicate their understanding with visual expressions. By postponing judgement and questioning the
    others expression, a constructive dialogue arise. This dialogue create mutual understanding of the others stands,
    perspective and perception of the problemcase. This conversation starter guides professionals through their
    exploration of a problemcase towards an in-depth dialogue with the involved others.
  </p>
  <h2 id="craftsmen">Workshops</h2>
  <p>
    Workshops are effective events for training and practice of these techniques. Therefor workshops are a technique on
    their own. I organise workshops to facilitate professionals in specific cases and I use these workshops to train
    facilitators as well. Getting the full potential of learning- and reflection in action is through practice in (near)
    real-life situations.
    <br><br>
    I contribute on several topics related to transformation practices since 2015 by moderating different workshops and
    exhibitions through which professionals created awareness on specific cases and experienced different design
    concepts, techniques and tools. Hereafter an overview on some of the events I had the privelege to contribute to.
    <br><br>
  </p>
</div>
{% endblock content %}
