<!-- template tools.html -->
{% extends 'default.html' %}
{% block content %}
<!-- <div class="cellB-about"> -->
<h1 id="vision">My vision</h1>
<img src="{{ site.pathtoimages }}vision.png" alt="" class="img-centered" style="width:85%; ">
<br><br>
<p>
  The wellfare state of our modern society is impressive, we live in prosperity. But our way of living comes with a
  cost. We pollute our oceans, poles, rainforrest and air. Our commodities are created by people living in embarrasing
  circumstances or even slavery. The individualisation in our society creates exclusion of people. The cost of our
  modernisation becomes perceptible at the bottom of the global society and is paid by other people and nature.
  <br><br>
  A multi-disciplinairy and multi-organisational collaboration can make a change from this dark side of modernisation to
  a more sustainable development (United Nations, 2007). A way to facilitate this transformation is described in the
  transformative practices (Hummels, Trotto, Lévy, Peeters, Alves Lino &amp; Klooster, 2018). Moving towards the
  transformation paradigm requires a fundamental shift in mindset, vocabulary and behaviour (Gardien, Djajadiningrat,
  Hummels &amp; Brombacher, 2014).
  <br><br>
  Governments and their organisations have to make this shift. Administrators in public organisations continually search
  for the morally right decisions and actions. But transformation in public sector organisations is a complex process
  with paradoxes where moral dilemmas occur (Du Gay, 2000; Gerritsen, 2011). Individuals, professionals and leaders face
  a variety of questions and challenges on morality and sustainable development (Meij, 2017).
  <br><br>
  With their methods and tools designers and moral consultants can inspire and support decision making processes towards
  the morally right interventions in specific situations. Leaders can modernise a meaningful collaboration by learning
  the practices of designers and moral consultants. I search for the best of these worlds and make a craft out of it so
  people can get inspired, educated and empowered to practice transformation.
</p>
</div>
{% endblock content %}
