<!-- template workshops.html -->
{% extends "default.html" %} 
{% block content %}
<div class="cellB-about">
  <h2 id="craftsmen">Workshops</h2>
  <!-- <img src="{{ site.pathtoimages }}bureauPeter.jpg" alt="" class="img-centered" style="width:85%; "> -->
  <p>
    Workshops are effective events for training and practice of the techniques. Therefor workshops are a technique on
    their own. I organise workshops to facilitate professionals in specific cases and I use these workshops to train
    facilitators as well. Getting the full potential of learning- and reflection in action is through practice in (near)
    real-life situations.
    <br><br>
    I contribute on several topics related to transformation practices since 2015 by moderating different workshops and
    exhibitions through which professionals created awareness on specific cases and experienced different design
    concepts, techniques and tools. Hereafter an overview on some of the events I had the privelege to contribute to.
    <br><br>
  </p>
</div>
<div class="cellB-workshop">
  {% for workshop in workshops %}
  <div class="workshop-cell">
    <div class="workshop-cell-img">
      <img class="img-portfolio-thumb" src="{{ site.pathtoimages }}{{workshop.image }}" alt="">
      <p class="small"> {{ workshop.type }} </p>
    </div>
    <div class="workshop-cell-text">
      <p class="clientslist">{{ workshop.date }}</p>
      <br><br>
      <p class="clientslist-small">subject:</p>
      <p class="clientslist">{{ workshop.title }}</p>
      <br><br>
      <p class="clientslist-small">organisations:</p>
      {% for item in workshop.clients %}
      <p class="clientslist">{{ item }}</p>
      {% endfor %}
    </div>
  </div>
  {% endfor %}
</div>
{% endblock content %}
