<!-- template workpost.html -->
{% extends 'default.html' %}
{% block content %}

<h2 class="case">{{ work.title }}</h2>

<p class="case-small">{{ work.date.strftime('%B %Y') }}</p>

<img src="{{ site.pathtoimages }}{{ work.image }}" alt="" class="img-centered">

<div class="case">
	{% for item in work.description %}
	<h3>
		{{ item.head }}
	</h3>
	<p>
		{{ item.text }}
	</p>
	<br>
	{% endfor %}
</div>

<a href="{{ site.url }}{{ site.baseurl }}/work.html" class="button"> BACK </a>

{% endblock content %}
