.window-container {
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  background-color: #ffffff;
}

.cells {
  text-align: center;
  line-height: 1.5;
  width: 100%;
}

.cellA {
  align-items: center;
  background-position: center top;
  background-repeat: no-repeat;
  background-image: url("images/bg-top.png");
  background-size: cover;
  padding: 10px;
  justify-content: space-between;
  min-height: 55px;
  max-width: 98%;
  flex-direction: row;
  display: flex;
  position: sticky;
  top: 0;
}

.cellB {
  width: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.cellB2 {
  background-color: rgba(255, 255, 255, 0.5333333333);
  width: 100%;
  margin: 0 auto;
}

.cellB-portfolio, .cellB-workshop {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 100%;
}

.cellB-case {
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.cellB-workshop {
  flex-flow: column wrap;
  align-items: center;
}

.cellB-about {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  width: 100%;
  min-height: 150px;
}

.cellC, .cellC-home {
  justify-content: center;
  margin: 2px 0 0 0;
}

.portfolio-cell {
  width: 50vw;
}

.testimonial-cell, .tool-cell, .technique-cell, .technique-cell-img, .technique-cell-text, .workshop-cell, .workshop-cell-text, .workshop-cell-img {
  width: 100%;
  background-color: #ffffff;
  margin: 5px;
  box-shadow: 0 0 20px #777777;
  align-items: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.workshop-cell, .workshop-cell-text, .workshop-cell-img {
  min-height: none;
  flex-flow: row;
  margin: 15px;
  width: 92%;
}

.workshop-cell-img {
  width: 30%;
  box-shadow: none;
  flex-flow: column;
}

.workshop-cell-text {
  font-size: 0.8rem;
  font-weight: 400;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: left;
  align-items: left;
  flex-flow: column;
  box-shadow: none;
}

.about-cell, .about-cell-labels {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.about-cell-labels {
  flex-flow: row wrap;
  justify-content: center;
  width: 50vw;
}

.technique-cell, .technique-cell-img, .technique-cell-text {
  min-height: none;
  flex-flow: row;
  margin: 15px;
  width: 92%;
}

.technique-cell-text {
  font-size: 0.8rem;
  font-weight: 400;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: left;
  align-items: left;
  flex-flow: column;
  box-shadow: none;
}

.technique-cell-img {
  width: 30%;
  box-shadow: none;
  flex-flow: column;
}

.tool-cell {
  width: 92%;
  min-height: none;
  flex-flow: column;
  margin: 15px;
}

@media only screen and (min-width: 781px) {
  .window-container {
    margin: 0 auto;
  }
  .container {
    margin: 0 auto;
    background: none;
  }
  .cellA {
    max-width: 100vw;
  }
  .cellB {
    background-color: #ffffff;
    max-width: 1024px;
    margin: 25px auto 25px auto;
    top: 55px;
  }
  .cellB-workshop {
    flex-flow: column wrap;
    align-items: center;
  }
  .cellC, .cellC-home {
    background-position: center bottom;
    background-repeat: no-repeat;
    background-image: url("images/bg-top.png");
    background-size: cover;
  }
  .cellC-home {
    background: none;
    padding: 1px;
  }
  .portfolio-cell {
    max-width: 30%;
    min-height: 200px;
  }
  .portfolio-cell:hover {
    box-shadow: 0 0 20px #ff6000;
  }
  .portfolio-cell-link:hover {
    background-color: inherit;
  }
  .testimonial-cell, .workshop-cell, .workshop-cell-img, .workshop-cell-text, .technique-cell, .technique-cell-text, .technique-cell-img, .tool-cell {
    max-width: 30%;
  }
  .workshop-cell, .workshop-cell-img, .workshop-cell-text {
    max-width: none;
    min-height: 100px;
    width: 92%;
  }
  .workshop-cell-img {
    width: 30%;
  }
  .technique-cell, .technique-cell-text, .technique-cell-img {
    max-width: none;
    min-height: 100px;
    width: 92%;
  }
  .technique-cell-img {
    width: 30%;
  }
  .tool-cell {
    max-width: 100%;
    max-width: none;
    min-height: 100px;
  }
}
@media only screen and (min-width: 1281px) {
  .window-container {
    background-color: #ffffff;
  }
  .container {
    justify-content: flex-start;
  }
  .cellA {
    width: 100vw;
  }
  .cellB {
    background: none;
    width: 60vw;
  }
  .cellB-portfolio, .cellB-workshop {
    align-content: space-around;
    min-height: 70vh;
  }
  .cellC, .cellC-home {
    top: 98vh;
  }
  .cellC-home {
    background: none;
    padding: 1px;
  }
  .portfolio-cell {
    max-width: 40%;
    min-height: 180px;
  }
  .testimonial-cell, .workshop-cell, .workshop-cell-img, .workshop-cell-text, .technique-cell, .technique-cell-text, .technique-cell-img, .tool-cell {
    max-width: 30%;
    min-height: 250px;
  }
  .workshop-cell, .workshop-cell-img, .workshop-cell-text {
    max-width: none;
    min-height: 100px;
    width: 80%;
  }
  .workshop-cell-img {
    width: 30%;
  }
  .technique-cell, .technique-cell-text, .technique-cell-img {
    max-width: none;
    min-height: 100px;
    width: 80%;
  }
  .technique-cell-img {
    width: 30%;
  }
  .tool-cell {
    max-width: 92%;
  }
}
.window-container-home {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.container-home {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 98%;
  max-height: 800px;
  margin: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("images/bg.png");
  background-size: cover;
}

h1, a.brand, h2, h3 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #303030;
}

h1.brand, a.brand {
  color: #ff6000;
  font-weight: 100;
}

h2 {
  font-size: 1.2rem;
  font-variant: normal;
  margin: 10px 0 0 0;
}
h2.case {
  margin: 0 5px;
  color: #ff6000;
  weight: 300;
  text-align: center;
}

h3 {
  font-size: 1rem;
  font-variant: normal;
  margin-top: inherit;
  margin-bottom: 0;
}

h6 {
  font-size: 0.8rem;
  font-weight: 400;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  color: #303030;
  margin: 0 2px 0 5px;
}

li {
  padding: 10px;
  border: 1px solid;
  margin: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: #ff6000;
  margin: 0;
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif, -apple-system;
  font-stretch: condensed;
  background-repeat: no-repeat;
  background-stretch: condensed;
}
a:hover {
  color: #303030;
}
a.brand {
  color: #ff6000;
  font-weight: 100;
  padding-left: 10px;
}
a.brand:hover {
  font-weight: 500;
  color: #f7f7f7;
}
a.portfolio {
  font-size: 0.8rem;
  font-weight: 400;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  color: #303030;
}
a.portfolio:hover {
  color: #777777;
}

p {
  margin: 0 5px;
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  text-align: left;
}
p.small {
  font-size: 0.8rem;
  margin: 0;
  color: #303030;
}
p.case-small {
  font-size: 0.9rem;
  color: #ff6000;
  text-align: center;
}
p.testimonial {
  text-align: center;
  margin: 10px;
  font-size: 0.9rem;
  max-width: 500px;
}
p.testimonial-small {
  text-align: center;
  font-size: 0.8rem;
  margin: 0 10px 10px 10px;
  color: #303030;
}
p.clientslist {
  text-align: center;
  margin: none;
  font-size: 0.85rem;
  max-width: 500px;
}
p.clientslist-normal {
  text-align: center;
  margin: none;
  font-size: 1rem;
  max-width: 500px;
}
p.clientslist-small {
  text-align: center;
  font-size: 0.8rem;
  margin: 10px 0 0 0;
  color: #777777;
}
p.technique-normal {
  text-align: left;
  margin: none;
  font-size: 1rem;
  max-width: 800px;
}

.footer {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.8rem;
  color: #ff6000;
  text-align: center;
}

@media only screen and (min-width: 781px) {
  a.portfolio:hover {
    color: inherit;
  }
  p.testimonial {
    width: 70%;
    max-width: none;
  }
  p.testimonial-small {
    color: #777777;
    text-align: center;
  }
}
.brand {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.4rem;
  font-weight: 200;
  text-transform: uppercase;
  text-color: #ff6000;
}

.title {
  font-size: 4rem;
  font-weight: 700;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: #f7f7f7;
  margin: 0;
}

.subtitle {
  font-family: "Droid Serif", "Helvetica Neue", serif;
  font-weight: 200;
  font-size: 1.4rem;
  font-style: italic;
  color: #ff6000;
  margin: 0 10px 0 0;
}

.menu {
  display: block;
  text-align: left;
  text-transform: uppercase;
  color: #f7f7f7;
  padding: 10px 20px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif, -apple-system;
}
.menu:hover {
  color: #ff6000;
}
.menu::selection {
  color: #3b3b3b;
}

@media only screen and (max-width: 390px) {
  .title {
    font-size: 15vw;
  }
  .subtitle {
    font-size: 4.8vw;
  }
  .menu {
    font-size: 3.8vw;
  }
}
.thumbnail {
  color: #303030;
}

.button {
  text-align: center;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  padding: 5px;
  background-color: rgba(48, 48, 48, 0.9019607843);
  border-radius: 2px;
  margin: 10px;
}

.button:hover {
  background-color: rgba(255, 96, 0, 0.4666666667);
}

.img-centered, img, .img-portfolio-thumb {
  margin: 10px auto 0 auto;
  display: block;
  width: 100%;
  height: auto;
  text-align: center;
}

.img-portfolio-thumb {
  margin: 0;
  max-width: 98%;
  padding: 2px 2px 0 2px;
}

.img-about-thumb {
  padding: 2px 2px 0 2px;
  height: 35vw;
  width: 35vw;
  margin: 10px 0;
  border-radius: 50%;
  float: left;
  padding: 0;
}

.img-thumb {
  margin: 0 0 0 10px;
  width: 300px;
  height: auto;
  float: right;
}

@media only screen and (min-width: 781px) {
  .img-centered, img {
    width: 60%;
    height: auto;
  }
  .img-about-thumb {
    height: 200px;
    width: 200px;
    margin: 10px auto 10px auto;
  }
  .img-portfolio-thumb {
    width: 100%;
  }
}
@media only screen and (min-width: 1281px) {
  .img-centered, img {
    width: 60%;
    height: auto;
    margin: 10px auto 10px auto;
  }
  .img-about-thumb {
    height: 200px;
    width: 200px;
  }
  .img-portfolio-thumb {
    width: 100%;
  }
}
.drop-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: fixed;
  top: 20px;
  right: 10px;
  height: 35px;
  width: 50px;
  background-color: #ff6000;
  background-repeat: no-repeat;
  background-image: url("images/menu.png");
  background-position: center;
  background-size: 35px 35px;
  border-radius: 5px;
}

.drop-menu input {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  padding: 0;
  cursor: pointer;
  opacity: 0;
  z-index: 10;
  -webkit-touch-callout: none;
}

.drop-menu input:checked ~ .drop-menu-content {
  display: block;
}

.drop-menu-content {
  display: none;
  min-width: 100vw;
  min-height: 55px;
  margin: 35px -10px 0 0;
  position: absolute;
  padding: 5px;
  opacity: 0.97;
  background-color: #303030;
}

.drop-menu-item, .drop-menu-current {
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  display: block;
  color: #f7f7f7;
  padding: 10px 20px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif, -apple-system;
  font-size: 1rem;
  min-width: 65px;
}
.drop-menu-item:hover, .drop-menu-current:hover {
  background-color: #777777;
  color: #ff6000;
}

.drop-menu-current {
  color: #ff6000;
}
.drop-menu-current:hover, .drop-menu-current :focus {
  background-color: #777777;
  color: #ff6000;
}

.line-menu {
  display: none;
}

@media only screen and (min-width: 781px) and (min-width: 1024px) {
  .drop-menu, .drop-menu input {
    display: none;
  }
  .drop-menu-content {
    display: none;
  }
  .line-menu {
    display: flex;
    flex-direction: row;
  }
}
@media only screen and (min-width: 1281px) {
  .drop-menu, .drop-menu input {
    display: none;
  }
  .drop-menu-content {
    display: none;
  }
  .line-menu {
    display: flex;
    flex-direction: row;
  }
}

/*# sourceMappingURL=styles.css.map */
